<%= javascript_include_tag "application" %>

<div class="jumbotron">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>
</div>


<%= button_to "Show All Accounts", show_accounts_path, method: :get, class: "btn btn-primary custom3"%>
<br>
<%= button_to "Show Pending Transactions", show_ptrans_path, method: :get, class: "btn btn-primary custom3"%>







