<%if @pending_accounts %>
<h1>Pending Accounts</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Account</th>
    <th>Balance</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @pending_accounts.each do |account| %>
      <tr>
        <td><%= account.acc_no %></td>
        <td><%= account.balance %></td>
        <td><%= button_to 'Activate', change_state_account_path(id: account.id, chg_state: :active), method: :post, class: "btn btn-primary" %></td>
        <td><%= button_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>


<h1>Activated Accounts</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Account</th>
    <th>Balance</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @activated_accounts.each do |account| %>
      <tr>
        <td><%= account.acc_no %></td>
        <td><%= account.balance %></td>
        <td><%= button_to 'Deactivate', change_state_account_path(id: account.id, chg_state: :inactive) , method: :post, class: "btn btn-warning" %></td>
        <td><%= button_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div>
<% link_to 'Back', admin_path(current_user[:id]), method: :get, class: "btn btn-primary" %>
</div>