<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Request for an account', new_account_url %>

<%= link_to 'View your accounts', account_path %>

<p>
  <%= link_to 'Logout', logout_path, method: :delete %>
</p>



