<%= javascript_include_tag "application" %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<div class="btn-group">
  <%= link_to 'Request for an account', new_account_url %>
  <br>
  <%= link_to 'View your accounts', account_path %>
  <br>
  <%= link_to 'View your Friends', friends_path(@user)%>
  <br>
  <%= link_to 'View all your transactions', show_trans_path(@user.id)%>
</div>




