<h1>Your accounts</h1>

<table>
  <thead>
    <tr>
      <th>Acc no</th>
      <th>Balance</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.acc_no %></td>
        <td><%= account.balance %></td>
        <td><%= account.state.capitalize %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
