<h1>Your Accounts</h1>

<table>
  <thead>
  <tr>
    <th>Acc no</th>
    <th>Balance</th>
    <th>State</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @accounts.each do |account| %>
      <tr>
        <td><%= account.acc_no %></td>
        <td><%= account.balance %></td>
        <td><%= account.state %></td>
        <td><%= link_to 'Withdraw', user_path(:id => account.id, :type => 0, :from => account.acc_no, :to => account.acc_no) %></td>
        <td><%= link_to 'Deposit', user_path(:id => account.id, :type => 1, :from => account.acc_no, :to => account.acc_no)%></td>
        <td><%= link_to 'Transfer', user_path(:id => account.id, :type => 2, :from => account.acc_no, :to => account.acc_no)%></td>
        <td><%= link_to 'View Transactions', view_trans_path() %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', user_path %>
