<h1>Your Accounts</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Account</th>
    <th>Balance</th>
    <th>State</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @accounts.each do |account| %>
      <tr>
        <td><%= account.acc_no %></td>
        <td><%= account.balance %></td>
        <td><%= account.state.capitalize %></td>
        <% if account.state == 'active' %>
            <td><%#= button_to 'Deposit', view_trans_path(), class: "btn btn-primary custom2" %></td>
            <td><%#= button_to 'Withdraw', view_trans_path(), class: "btn btn-primary custom2" %></td>
            <td><%= link_to 'transfer', new_transaction_path(:from => account.acc_no), class: "btn btn-primary custom2" %></td>
            <td><%= link_to 'View Transactions', transactions_path, method: :get,class: "btn btn-primary custom1" %></td>
        <% end %>
        <td><%= button_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger custom2" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Back', current_user, method: :get, class: "btn btn-primary col1" %>
