<h1>Transactions on selected account</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><h3>From</h3></th>
    <th><h4>To</h4></th>
    <th><h4>State</h4></th>
    <th><h4>Amount</h4></th>
    <th colspan=4></th>
  </tr>
  </thead>

  <tbody>
  <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.from %></td>
        <td><%= transaction.to %></td>
        <td><%= transaction.state.capitalize %></td>
        <td><%= transaction.amount %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if current_user[:is_admin] %>
    <%= button_to "Back", admin_path(current_user[:id]), method: :get, class: "btn btn-primary custom2" %>
<% else %>
    <%= button_to "Back", current_user, method: :get, class: "btn btn-primary custom3" %>
<% end %>



