<h1>Transactions on selected account</h1>

<table>
  <thead>
  <tr>
    <th>Acc no</th>
    <th>Balance</th>
    <th>State</th>
    <th>Amount</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.from %></td>
        <td><%= transaction.to %></td>
        <td><%= transaction.state %></td>
        <td><%= transaction.amount %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'back', account_path %>
